<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Chatt</title>
        <link rel="stylesheet" href="css/semantic.min.css">
        <link rel="stylesheet" href="css/site.css">
        <link rel="stylesheet" href="css/w3.css">
        <meta name="google-signin-client_id" content="831859513416-2ie94vtld9i0a34bjc3pgsric6ecejk0.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="js/jquery.js"></script>
        <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
        <script src="js/semantic.min.js"></script>
        <script src="js/codebird.js"></script>
        <script type="text/javascript" src="//platform.linkedin.com/in.js">
            api_key: 772p2t2bf89h3a
            onLoad: onLinkedInLoad
        </script>

        <script type="text/javascript">
            function liAuth(){
                IN.User.authorize(function(){
            });
            }
            // Setup an event listener to make an API call once auth is complete
            function onLinkedInLoad() {
                IN.Event.on(IN, "auth", getProfileData);
            }

            // Handle the successful return from the API call
            function onSuccess(data) {
                    document.getElementById("user").innerHTML = data.firstName + " " + data.lastName;
                    document.getElementById("user2").innerHTML = data.firstName + " " + data.lastName;
                    document.getElementById("dimmer").style.display = "none";
            }

            // Handle an error response from the API call
            function onError(error) {
                console.log(error);
            }

            // Use the API call wrapper to request the member's basic profile data
            function getProfileData() {
                IN.API.Raw("/people/~").result(onSuccess).error(onError);
            }

        </script>

    </head>
    <body>
        <div class="ui left inverted wide vertical menu sidebar w3-ria-grey">
            <div class="w3-center w3-margin-top">
                <i class="user big icon circular active"></i>
                <h3 class="ui horizontal divider w3-padding header small inverted" id="user2" style="margin-top: 5px"></h3>
                <div id="grupos" class="ui item list">
                </div>
            </div>
        </div>
        <div class="pusher blurring w3-light-gray">
            <div class="ui icon message fixed top green w3-top w3-display-topright w3-right w3-margin w3-animate-top" style="width: 290px; height: 60px; display: none" id="info">
                <i class="info icon w3-text-ria-green left aligned w3-left" style="margin-top: -7px"></i>
                <div class="content">
                    <div class="header w3-text-ria-green w3-right" id="infomsg" style="margin-top: 4px"></div>
                </div>
            </div>
            <div class="ui page active dimmer w3-display-container" id="dimmer">
                <div class="bgimg-1 w3-opacity-max" style="height: 100%; width: 100%"></div>
                <div class="ui text container w3-display-middle w3-padding-64" id="loginDimmer">
                    <div class="ui grid internally celled container center aligned">
                        <div class="ten wide column">
                            <img src="img/logo.png" style="height: 80px">
                            <h1 class="ui inverted header w3-xxxlarge">chatt</h1>
                            <h1 class="ui inverted header">Mensajeria en tiempo real</h1>
                            <h3 class="ui inverted header horizontal divider w3-padding">Inicia con redes sociales</h3>
                            <button class="ui circular icon button facebook large" onClick="autenticarFacebook()"><i class="ui facebook f icon"></i></button>
                            <button onclick="autenticarGoogle()" class="ui circular icon button google plus large"><i class="ui google icon"></i></button>
                            <div class="g-signin2" data-onsuccess="onSignIn" id="goo" style="display:none"></div>
                            <button class="ui circular icon button twitter large" onclick="registrarTwitter()"><i class="ui twitter icon"></i></button>
                            <button onclick="liAuth()" class="ui circular icon button linkedin large"><i class="ui linkedin icon"></i></button>
                        </div>
                    </div>
                </div>
                <div class="w3-display-middle" id="dialog" style="display: none">
                    <h2 class="ui header text inverted">Ingrese PIN verificador entregado por Twitter:</h2>
                    <div class="ui labeled input w3-margin">
                        <div class="ui basic label w3-text-cerebro-red">PIN</div>
                        <input placeholder="Ingrese aqu&iacute; el c&oacute;digo" id="codigoPin" type="text">
                    </div><div class="ui horizontal divider"></div>
                    <button class="ui inverted button" onclick="ocultarDimmer()">Cancelar</button>
                    <button class="ui twitter icon button" onclick="terminarRegistroTwitter()">Registrarse <i class="ui twitter icon"></i></button>
                </div>
            </div>
            <div class="ui secondary menu">
                <a class="ui toc item left aligned w3-hover-text-ria-green"><i class="sidebar large icon w3-text-ria-grey"></i></a>
            </div>
            <div class="ui text container center aligned w3-padding-16">
                <img src="img/logo.png" style="height:100px">
            </div>
            <div class="ui stackable text container w3-padding-32">
                <span class="ui header text small right aligned w3-text-ria-green w3-padding" id="user">Chatt</span>
                <i class="circular basic add link icon w3-right w3-text-ria-green" onClick="mostrarModal()" style="margin-top: -5px"></i>
                <div class="ui raised segments">
                    <div class="ui segment">
                        <h3 class="ui header text horizontal divider w3-padding w3-text-ria-green" id="grupoActual">Chatt</h3>
                    </div>
                    <div class="ui grey segment" id="chat" style="height: 500px; max-height: 500px; background-image: url(img/skulls.png); overflow-y: auto">
                    </div>
                    <div class="ui secondary segment">
                        <div class="ui fluid input">
                            <input type="text" id="mensaje" placeholder="Escriba aqu&iacute; su mensaje, precione enter para enviar...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui basic modal">
                <div class="ui icon header">
                    <img src="img/logo.png">
                    <h3 class="ui horizontal divider header inverted">Crear nuevo grupo</h3>
                </div>
                <div class="w3-center">
                    <div class="ui labeled input w3-padding">
                        <div class="ui basic label header w3-text-ria-green">Nombre:</div>
                        <input type="text" placeholder="Nombre del grupo..." id="grupoNuevo">
                    </div>
                </div>
                <div class="content clearing divider">
                    <p class="ui header inverted small center aligned">&iquest;Continuar?</p>
                </div>
                <div class="actions center aligned w3-center">
                    <div class="ui basic cancel inverted button"><i class="remove icon"></i>Cancelar</div>
                    <div class="ui green ok inverted button" onClick="agregarGrupo()"><i class="checkmark icon"></i>Confirmar</div>
                </div>
            </div>
            <div class="ui basic segment w3-opacity-min" style="background-image: url(img/worn-dots.png); height: 200px; margin-bottom: 0px; border-color: #53826b; border-bottom-style: solid; border-width: 7px"></div>
            <div class="ui inverted vertical footer segment w3-padding-64">
                <div class="ui stackable container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="four wide column">
                            <h4 class="ui inverted header">Integrantes</h4>
                            <div class="ui middle aligned animated list inverted">
                                <div class="item">
                                    <img class="ui avatar image" src="img/TheWall.png">
                                    <div class="content">
                                        <div class="header">Agust&iacute;n Maidana</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/pp.jpg">
                                    <div class="content">
                                        <div class="header">Pedro Moretto</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/pp2.jpg">
                                    <div class="content">
                                        <div class="header">Enzo Drago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column w3-center">
                            <h3 class="ui inverted header">RIA - Laboratorio N°2</h3>
                            <h4 class="ui inverted sub header" style="margin-top: 0px">tecn&oacute;logo en inform&aacute;tica montevideo - 2017</h4>
                        </div>
                        <div class="eight wide column center aligned">
                            <img src="img/logo.png" style="height: 50px" class="w3-image">
                            <h3 class="ui inverted header horizontal divider">chatt</h3>
                            <p>Aplicaci&oacute;n web correspondiente al segundo laboratorio del taller de Aplicaciones de Internet Ricas</p>
                            <p>chatt permite a los usuarios autenticados enviar mensajes en tiempo real entre s&iacute; mismos, as&iacute; como tambi&eacute;n crear grupos de chat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function autenticarGoogle(){
                    onSignIn();
                }
                function onSignIn(googleUser) {
                    var profile = googleUser.getBasicProfile();
                    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    console.log('Name: ' + profile.getName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                }
                var usuario;
                var pusher = new Pusher('c312df6ac515798b218a', {cluster: 'us2', encrypted: true});
                var grupos = pusher.subscribe("grupos");
                grupos.bind('grupo-nuevo', function (data) {
                    var list = document.getElementById("grupos");
                    var add = 0;
                    $.each(list.childNodes, function (index, node) {
                        if (node.innerHTML === data.grupo) {
                            add++;
                        }
                    });
                    if (add === 0) {
                        var a = document.createElement("a");
                        a.className = "ui toc item header text w3-padding";
                        a.innerHTML = data.grupo;
                        a.addEventListener("click", function () {
                            suscribirseGrupo(data.grupo);
                            $('.ui.sidebar').sidebar('toggle');
                        });
                        document.getElementById("grupos").appendChild(a);
                        mostrarInfo(data.grupo);
                    }
                });
                function mostrarInfo(grupo) {
                    document.getElementById("infomsg").innerHTML = grupo + " agregado!";
                    document.getElementById("info").style.display = "block";
                    setTimeout(function () {
                        document.getElementById("info").style.display = "none";
                    }, 5000);
                }
                $(document).ready(function () {
                    document.getElementById("grupoNuevo").innerHTML = "";
                    document.getElementById("mensaje").value = "";
                    $('.ui.sidebar')
                            .sidebar('attach events', '.toc.item')
                            .sidebar('setting', 'transition', 'overlay')
                            .sidebar('setting', 'dimPage', false);
                    $('.ui.dropdown').dropdown('setting', 'allowAdditions', true);
                    $('#mensaje').on('keyup', function (e) {
                        if (e.keyCode === 13) {
                            var mensaje = document.getElementById("mensaje").value;
                            var grupo = document.getElementById("grupoActual").innerHTML;
                            var user = document.getElementById("user").innerHTML;
                            if (grupo !== "" && grupo !== "Chatt" && mensaje !== "" && user !== "") {
                                $.post("http://localhost:8080/api/mensajes", "grupo=" + grupo + "&mensaje=" + mensaje + "&autor=" + user, function (response) {
                                    document.getElementById("mensaje").value = "";
                                });
                            }
                        }
                    });
                });
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '659510540840463',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.8'
                    });
                    FB.AppEvents.logPageView();
                };
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                function autenticarFacebook() {
                    FB.login(function (response) {
                        if (response.status === 'connected') {
                            FB.api('/me', 'GET', {"fields": "id,name"}, function (user) {
                                usuario = user.name;
                                document.getElementById("user").innerHTML = usuario;
                                document.getElementById("user2").innerHTML = usuario;
                                document.getElementById("dimmer").style.display = "none";
                            }
                            );
                        } else {
                        }
                    }, {scope: 'public_profile'});
                }
                var cb = new Codebird;
                cb.setConsumerKey("OxEEPVtqXjoEs4Bgh8cqfLMOZ", "NLEuRABOR2IMojdnGm8Auh7l7mcnurfaKoXhUTCIHAEBPL5rPB");
                function registrarTwitter() {
                    document.getElementById("codigoPin").value = "";
                    cb.__call(
                            "oauth_requestToken",
                            {oauth_callback: "oob"},
                            function (reply, rate, err) {
                                if (err) {
                                    console.log("error response or timeout exceeded" + err.error);
                                }
                                if (reply) {
                                    cb.setToken(reply.oauth_token, reply.oauth_token_secret);
                                    cb.__call(
                                            "oauth_authorize",
                                            {},
                                            function (auth_url) {
                                                window.codebird_auth = window.open(auth_url);
                                            }
                                    );
                                }
                            }
                    );
                    document.getElementById("dimmer").style.display = "block";
                    document.getElementById("dialog").style.display = "block";
                    document.getElementById("loginDimmer").style.display = "none";
                }
                function suscribirseGrupo(grupo) {
                    pusher.unsubscribe(document.getElementById("grupoActual").innerHTML);
                    var channel = pusher.subscribe(grupo);
                    var user = document.getElementById("user").innerHTML;
                    document.getElementById("grupoActual").innerHTML = grupo;
                    while (document.getElementById("chat").hasChildNodes()) {
                        document.getElementById("chat").removeChild(document.getElementById("chat").lastChild);
                    }
                    channel.bind("mensaje-nuevo", function (data) {
                        if (data.autor !== user) {
                            var ele1 = document.createElement("div");
                            ele1.className = 'w3-row w3-margin-top w3-margin-bottom';
                            var ele2 = document.createElement("div");
                            ele2.className = 'w3-third w3-white w3-round w3-card';
                            ele1.appendChild(ele2);
                            var ele3 = document.createElement("div");
                            ele3.className = 'w3-row w3-small w3-margin-left';
                            var span1 = document.createElement("span");
                            span1.className = "w3-text-ria-green";
                            span1.innerHTML = data.autor;
                            ele3.appendChild(span1);
                            var span2 = document.createElement("span");
                            span2.className = "w3-right w3-margin-right w3-text-grey";
                            span2.innerHTML = data.hora;
                            ele3.appendChild(span2);
                            ele2.appendChild(ele3);
                            var ele4 = document.createElement("div");
                            ele4.style.marginBottom = '3px';
                            ele4.className = 'w3-row w3-text-dark-gray w3-margin-left w3-margin-right';
                            ele4.textContent = data.contenido;
                            ele2.appendChild(ele4);
                            document.getElementById("chat").appendChild(ele1);
                        } else {
                            var ele1 = document.createElement("div");
                            ele1.className = 'w3-row w3-margin-top w3-margin-bottom';
                            var ele2 = document.createElement("div");
                            ele2.className = 'w3-third w3-right w3-pale-green w3-round w3-card';
                            ele1.appendChild(ele2);
                            var ele3 = document.createElement("div");
                            ele3.className = 'w3-row w3-small w3-margin-left';
                            var span2 = document.createElement("span");
                            span2.className = "w3-right w3-margin-right w3-text-grey";
                            span2.innerHTML = data.hora;
                            ele3.appendChild(span2);
                            ele2.appendChild(ele3);
                            var ele4 = document.createElement("div");
                            ele4.style.marginBottom = '3px';
                            ele4.className = 'w3-row w3-text-dark-gray w3-margin-left w3-margin-right';
                            ele4.textContent = data.contenido;
                            ele2.appendChild(ele4);
                            document.getElementById("chat").appendChild(ele1);
                        }
                    });

                }
                function terminarRegistroTwitter() {
                    if (document.getElementById("codigoPin").value !== "") {
                        cb.__call(
                                "oauth_accessToken",
                                {oauth_verifier: document.getElementById("codigoPin").value},
                                function (reply, rate, err) {
                                    if (err) {
                                    }
                                    if (reply) {
                                        cb.setToken(reply.oauth_token, reply.oauth_token_secret);
                                        cb.__call(
                                                "account_verifyCredentials", {},
                                                function (reply) {
                                                    usuario = reply.name;
                                                    document.getElementById("user").innerHTML = reply.name;
                                                    document.getElementById("user2").innerHTML = reply.name;
                                                    document.getElementById("dimmer").style.display = "none";
                                                }
                                        );
                                    }
                                }
                        );
                    }
                }
                function ocultarDimmer() {
                    document.getElementById("dialog").style.display = "none";
                    document.getElementById("loginDimmer").style.display = "block";
                }
                function agregarGrupo() {
                    var grupo = document.getElementById("grupoNuevo").value;
                    if (grupo !== "") {
                        $.post("http://localhost:8080/api/grupos", "grupo=" + grupo, function () {
                            document.getElementById("grupoActual").innerHTML = grupo;
                            suscribirseGrupo(grupo);
                            document.getElementById("grupoNuevo").value = "";
                        });
                    }
                }
                function mostrarModal() {
                    $('.ui.basic.modal').modal('show');
                }
            </script>



        </div>
    </body>
</html>
